
.related-post {
    margin-bottom: 60px;
    margin-top: 60px;
}
.related-post h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
}
.related-post .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.related-post .line:before {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    left: 25%;
    background: #000;
    position: absolute;
    top: 0;
}
.related-post .post-cat {
    margin-bottom: 20px;
}
.related-post .post-category > a {
    color: #e65100;
    font-size: 14px;
    margin-right: 5px;
    text-transform: uppercase;
}
.related-post h3 {
    display: flex;
}
.related-post h3 a {
    font-family: var(--second_font);
    font-size: 16px;
    color: #000;
    margin: 7px 0;
}

/* left-content */
.left-content .related-post .grid-box-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}
.left-content .related-post h4 {
    font-family: var(--text_font);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #212121;
}
.left-content .related-post .post-category > a {
    font-size: 12px;
}
.left-content .related-post .line:before {
    left: 0;
    width: 60%;
}
.left-content .related-post .entry-meta {
    flex-wrap: wrap;
    display: flex;
}
.left-content .popular-post .entry-meta {
    display: flex;
}
.related-post .entry-meta svg {
    width: 16px;
    margin-right: 5px;
}
.related-post .entry-meta svg path {
    fill: #a9a9a9;
}
.related-post .author {
    margin-right: 10px;
}
.related-post .entry-meta .date {
    display: flex;
    align-items: center;
}
@media(max-width: 767px) {
    .left-content .related-post .grid-box-post {
        grid-template-columns: 100%;
    }
}
/* end left-content */
