.blog-posts {
    margin: 60px 0;
}
.blog-posts .item {
    display: grid;
    grid-template-columns: 360px calc(100% - 380px);
    grid-gap: 20px;
    position: relative;
    margin-bottom: 50px;
}
.blog-posts .item .img {
    position: relative;
    padding-top: 65%;
    overflow: hidden;
    width: 360px;
}
.blog-posts .item .gatsby-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.blog-posts .grid-box {
    display: grid;
    grid-template-columns: calc(100% - 400px) 360px;
    grid-gap: 40px;
}
.blog-posts .blog-posts__loader {
    display: flex;
    justify-content: center;
}
.blog-posts .post-category > a {
    color: #e65100;
    font-size: 10px;
    margin-right: 5px;
    text-transform: uppercase;
}
.blog-posts .item h3 a {
    color: #000;
    font-size: 22px;
    line-height: 1.45;
    margin: 10px 0 5px;
}
.blog-posts .item h3 a:hover {
    color: #c51818;
}
.blog-posts .item .excerpt {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-size: 18px;
    color: #000;
    line-height: 1.7;
}
.blog-posts h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
}
.blog-posts h3 {
    display: flex;
}
.blog-posts aside h3 a {
    font-family: var(--second_font);
    font-size: 16px;
    color: #000;
    margin: 7px 0;
}
.blog-posts .wrapper-items {
    margin-bottom: 60px;
}
@media(max-width: 1199px) {
    .blog-posts .item {
        grid-template-columns: 260px calc(100% - 280px);
    }
    .blog-posts .item .img {
        width: 100%;
    }
}
@media(max-width: 991px) {
    .blog-posts .grid-box {
        grid-template-columns: 100%;
    }
    .blog-posts .item {
        grid-template-columns: 360px calc(100% - 380px);
    }
}
@media(max-width: 767px) {
    .blog-posts .item {
        grid-template-columns: 100%;
    }
    .blog-posts .item .img {
        padding-top: 55%;
    }
    .blog-posts .item h3 a {
        font-size: 22px;
    }
}
