.share {
    display: flex;
    align-items: center;
}
.share a {
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
}
.share a svg {
    height: auto !important;
    width: 18px;
}
.share a path {
    transition: .3s;
}
.share a:hover path {
    fill: #fff;
}
.share span {
    color: #a2a2a2;
    font-size: 18px;
}