.bed-bugs-products {
    display: flex;
    flex-direction: column;
}
.bed-bugs-products .cat a {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    color: #e65100;
}
.bed-bugs-products .item:first-child h3 {
    font-size: 16px;
    color: #000;
    margin: 5px 0;
    font-weight: 700;
}
.bed-bugs-products .item h3 {
    font-size: 14px;
    font-weight: 400;
}
.bed-bugs-products .flex-box {
    display: flex;
    flex-direction: column;
}
.bed-bugs-products .item h3 {
    font-size: 14px;
    color: #000;
    margin-top: 18px;
    margin-left: 65px;

}
.bed-bugs-products .item .flex {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-style: normal;
    color: #a9a9a9;
    font-size: 13px;
    margin-bottom: 20px;
}
.bed-bugs-products .cat {
    margin-bottom: 8px;
}
.bed-bugs-products .item .date svg {
    width: 15px;
    flex-shrink: 0;
    margin-right: 4px;
}
.bed-bugs-products .item .date svg path {
    fill: #a9a9a9;
}
.bed-bugs-products .item .author a {
    font-size: 14px;
    margin-right: 12px;
}
.bed-bugs-products .item .date {
    display: flex;
    align-items: center;
}