.tags {
    margin-top: 70px;
    content-visibility: auto;
    contain-intrinsic-size: 0 500px;
}

.tags .tags-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.tags .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.tags .line:after {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    left: 25%;
    background: #000;
    position: absolute;
    top: 0;
}

.tags a {
    color: #000;
    margin-right: 5px;
    line-height: 1.7;
}

.tags a:hover {
    color: #c51818;
}

.tags h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
    font-family: var(--text_font);
}

.single-post .left-content .tags .tags-wrap a {
    font-size: 12px !important;
    padding: 10px;
    background: #dcdcdc;
    line-height: 100%;
    margin-right: 10px;
    margin-bottom: 10px;
    color: #000;
}

.single-post .left-content .tags {
    margin-top: 30px !important;
    margin-bottom: 40px;
}

.single-post .left-content .tags h4 {
    display: none;
}

.single-post .left-content .tags .line {
    display: none;
}

.single-post .left-content .tags .tags-wrap a:hover {
    color: #fff;
    background: #363636;
}