@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/lato/v23/S6uyw4BMUTPHjx4wXg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh6UVSwiPGQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('https://fonts.gstatic.com/s/merriweather/v30/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
    --main_color:#212121;
    --bg_header: #212121;
    --link_color: #e65100;
    --second_color: #2f3643;
    --second_dark_color: #3f4755;
    --third_dark_color: #667185;
    --light_color: #edf3f6;
    --hover_color: #ffa32b;
    --second_hover_color: #fff;
    --title_color: #2f3643;
    --nav_color:#9E9E9E;
    --nav_color_hover:#fff;
    --text_color: #757575;
    --text_resp_color: #fff;
    --big_bord_rad: 160px;
    --med_bord_rad: 100px;
    --dots_width: 25.3vw;
    --text_font: 'Lato';
    --second_font: 'Merriweather';
}

a {
    text-decoration: none;
}

body {
    font: 400 14px/1.4 var(--text_font);
    color: var(--text_color);
    flex-shrink: 0;
    margin: 0;
}
*, :after, :before {
    box-sizing: border-box;
}
h1 {
    font-size: 86px;
    font-weight: 700;
    font-family: var(--second_font);
    color: var(--title_color);
    line-height: 1.3;
}
h2 {
    font-size: 65px;
    font-weight: 700;
    color: var(--title_color);
    margin: 0 0 35px 0;
    line-height: 1.2;
    font-family: var(--second_font);
}
h3 {
    font-size: 65px;
    font-weight: 700;
    color: var(--title_color);
    margin: 0;
    font-family: var(--second_font);
}
h4 {
    font-size: 28px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
h5 {
    font-size: 24px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
p {
    margin: 0;
}
@media(max-width:1199px){
    h1, h2 {
        font-size: 36px;
    }
}
@media(max-width: 767px) {
    :root {
        --big_bord_rad: 60px;
        --med_bord_rad: 30px;
        --dots_width: 150px;
    }
    body{
        font-size: 14px;
    }
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}
.contact_modal_animation {
    top: 0;
    bottom: 0;
    right: calc(-100% - 30px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    transition: 0.7s;
    z-index: 9999;
    position: fixed;
}
#___gatsby > div > section:last-of-type {
    margin-bottom: 40px;
}

.main-wrapper {
    background-color: var(--light_color);
}
