@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/S6uyw4BMUTPHjx4wXg.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/S6u9w4BMUTPHh6UVSwiPGQ.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/u-4n0qyriQwlOrhSvowK_l52xwNZWMf6.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
@font-face {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/Merriweather-Regular.woff2') format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

.gatsby-image-wrapper [data-main-image] {
    opacity: 1!important;
}

.content.page-content h3 {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 20px;
}
.gatsby-image-wrapper img {
    height: auto !important;
}
.gatsby-image-wrapper div {
    display: flex !important;
}
:root {
    --link_color: #e65100;
    --second_color: #2f3643;
    --second_dark_color: #3f4755;
    --third_dark_color: #667185;
    --light_color: #edf3f6;
    --second_hover_color: #fff;
    --nav_color:#9E9E9E;
    --nav_color_hover:#fff;
    --text_resp_color: #fff;
    --big_bord_rad: 160px;
    --med_bord_rad: 100px;
    --dots_width: 25.3vw;
    --text_font: 'Lato';
    --second_font: 'Merriweather';
    --font_regular: 'Merriweather-Regular';
}

*, :after, :before {
    box-sizing: border-box;
}

body {
    font: 400 16px/1.8 var(--text_font);
    color: var(--text_color);
    flex-shrink: 0;
    margin: 0;
}
body .container .page_title_archive-author {
    font-size: 16px;
    color: #000000;
    padding-bottom: 40px;
}
body .container .page_subtitle_archive-author {
    font-family: 'Lato', serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #212121;
    font-size: 12px;
}
body .container .page_wrapper_subtitle_archive-author {
    display: block;
    position: relative;
    margin-bottom: 40px;
    padding-bottom: 10px;
    border-bottom: solid 2px #ddd;
    min-height: 68px;
}
body .container .page_wrapper_subtitle_archive-author:after {
    content: '';
    display: block;
    position: absolute;
    background: red;
    height: 2px;
    left: 22%;
    right: 22%;
    bottom: -2px;
}
.page_title_archive {
    border-bottom: 1px solid #eee;
    margin-bottom: 50px;
    padding-bottom: 20px;
    padding-top: 30px;
    font-size: 24px;
    color: #000000;
}
h1 {
    font-size: 86px;
    font-weight: 700;
    font-family: var(--second_font);
    color: var(--title_color);
    line-height: 1.3;
}
h2 {
    font-size: 38px;
    font-weight: 700;
    color: var(--title_color);
    margin: 0 0 35px 0;
    line-height: 1.2;
    font-family: var(--second_font);
}
h3 {
    font-size: 28px;
    font-weight: 700;
    color: var(--title_color);
    margin: 0;
    font-family: var(--second_font);
}
h4 {
    font-size: 21px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
h5 {
    font-size: 24px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
h6 {
    font-size: 18px;
    font-weight: 400;
    color: var(--title_color);
    font-family: var(--second_font);
}
p {
    margin: 0;
}

a {
    text-decoration: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: #000;
}
a:hover {
    color: #c51818;
}
header ul,
footer ul,
header ol,
footer ol {
    padding: 0;
    margin: 0;
}
ul,
ol {
    list-style-position: inside;
}

body > .content {
    min-height: 650px;
    width: 100%;
    clear: both;
}

@media(max-width:1199px){
    h1, h2 {
        font-size: 36px;
    }
}
@media(max-width: 767px) {
    body{
        font-size: 14px;
    }
}
.container{
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 1200px;
}
.contact_modal_animation {
    top: 0;
    bottom: 0;
    right: calc(-100% - 30px);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    transition: 0.7s;
    z-index: 9999;
    position: fixed;
}
#___gatsby > div > section:last-of-type {
    margin-bottom: 40px;
}

.main-wrapper {
    background-color: var(--light_color);
}
@media(min-width: 767px) {
    .alignleft {
        float: left;
        margin: 7px 28px 28px 0;
        height: auto !important;
    }

    .alignright {
        float: right;
        margin: 7px 0 28px 28px;
        height: auto !important;
    }

    .aligncenter {
        clear: both;
        display: block;
        margin: 7px auto;
        height: auto !important;
    }
}
