#search-full {
    background: rgba(0,0,0, 0.8);
    color: #fff;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1000;
}
#search-full .container {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1111;
}
#search-full .form-group {
    width: 100%;
}
#search-full .form-group form {
    width: 100%;
    max-width: 800px;
    position: relative;
    display: flex;
    justify-content: center;
    margin: auto;
}
#search-full input#s {
    background: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px 180px 10px 30px;
    width: 100%;
    border: 1px solid #aaa;
    height: 60px;
    line-height: 100%;
    border-radius: 50px;
    outline: none;
}
#search-full input.search-submit {
    position: absolute;
    right: 0;
    border: none;
    border-radius: 50px;
    top: 0;
    bottom: 0;
    padding: 10px 50px !important;
    box-shadow: none;
    width: 170px;
    transition: .3s;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    background-color: #c51818;
    cursor: pointer;
}
#search-full input.search-submit:hover {
    opacity: .8;
}
#search-full .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}