.popular-post {
    margin-bottom: 60px;
}

.popular-post h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
    font-family: var(--text_font);
}

.popular-post .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}

.popular-post .line:before {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    left: 25%;
    background: #000;
    position: absolute;
    top: 0;
}

.popular-post .post-cat {
    margin-bottom: 20px;
}
.popular-post .post-cat .post-category {
    display: flex;
}
.popular-post .post-category > a {
    color: #e65100;
    font-size: 10px;
    margin-right: 5px;
    text-transform: uppercase;
}

.popular-post h3 {
    display: flex;
}

.popular-post h3 a {
    font-family: var(--second_font);
    font-size: 16px;
    color: #000;
    margin: 7px 0 0;
}
.popular-post h3 a:hover {
    color: #e65100;
}


/* left-content */
.left-content .popular-post .grid-box-post {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
}

.left-content .popular-post h4 {
    font-family: var(--text_font);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #212121;
}

.left-content .popular-post .post-category > a {
    font-size: 12px;
}

.left-content .popular-post .line:before {
    left: 0;
    width: 60%;
}

.left-content .popular-post .entry-meta {
    display: flex;
}

.popular-post .entry-meta {
    display: none;
}

.popular-post .entry-meta svg {
    width: 16px;
    margin-right: 5px;
}

.popular-post .entry-meta svg path {
    fill: #a9a9a9;
}

.popular-post .entry-meta .date {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

/* end left-content */
