.prev-next-post {
    margin: 60px 0;
    display: flex;
    justify-content: space-between;
}
.prev-next-post .flex {
    display: flex;
    max-width: 340px;
    width: 50%;
}
.prev-next-post a.image {
    width: 100px;
    flex-shrink: 0;
    margin-right: 10px;
    object-fit: contain;
}
.prev-next-post a span {
    line-height: 22px;
    font-weight: 700;
    font-style: normal;
    color: #000000;
    font-size: 18px;
}
.prev-next-post .txt {
    color: #e65100;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 10px;
}
.prev-next-post .flex div {
    display: flex;
    flex-direction: column;
}
@media(min-width: 601px) {
    .prev-next-post .next.flex {
        flex-direction: row-reverse;
    }
    .prev-next-post .next a.image {
        margin-right: 0;
        margin-left: 10px;
    }
    .prev-next-post .next div {
        text-align: right;
    }
}
@media(max-width: 600px) {
    .prev-next-post {
        flex-direction: column;
    }
    .prev-next-post .flex {
        width: 100%;
    }
    .prev-next-post .next.flex {
        margin-top: 20px;
    }
}