footer .footer-top {
    background: var(--bg_header);
}
footer .footer-top img {
    max-height: 34px;
    max-width: 150px;
    object-fit: contain;
    margin-right: 40px;
}
footer .footer-top .container {
    display: flex;
    align-items: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
footer .footer-center {
    padding: 60px 0;
    background-size: cover;
    position: relative;
    overflow: hidden;
}
footer .categories {
    margin-bottom: 0;
}
footer .footer-center > .gatsby-image-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
footer .footer-center .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
footer .footer-center .item {
    width: calc(33.333% - 50px);
}

footer .footer-center h4 {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #ffffff;
    font-size: 12px;
    margin: 0;
    position: relative;
    font-family: var(--text_font);
    text-align: left;
}
footer .footer-center .line {
    background: #aaa;
    height: 2px;
    left: 0;
    position: relative;
    margin-top: 35px;
    margin-bottom: 35px;

}
footer .footer-center .line:before {
    content: '';
    position: absolute;
    top: 0;
    height: 2px;
    width: 40%;
    right: 0;
    background: #ddd;
    z-index: 1;
}
footer ul li a svg {
    height: 12px;
    margin-right: 8px;
    flex-shrink: 0;
    position: relative;
    top: 3px;
}
footer ul li a {
    font-size: 11px;
    color: #fff;
    display: flex;
    line-height: 1.9;
}
footer ul li a:hover {
    color: #eeeeee;
}
footer ul li a svg {
    transition: .3s;
}
footer ul li a:hover svg path {
    fill: #eeeeee;
}
footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .footer-center ul li {
    width: calc(50% - 5%);
    margin-bottom: 20px;
}
footer .text {
    color: #EEEEEE;
    font-size: 14px;
}
footer .text a {
    display: inline;
    color: #fff;
}
footer .text a:hover {
    color: #eeeeee;
}
footer .footer-bottom {
    text-align: center;
    padding: 20px 0 90px;
    color: #9e9e9e;
    line-height: 1.85;
}
footer .container {
    max-width: 90%;
    margin: auto;
}
footer .footer-bottom .footer-menu-bottom a {
    color: #343434;
}
footer .footer-bottom ul {
    margin: 25px 0;
    justify-content: center;
}
footer .footer-bottom ul li {
    display: flex;
    align-items: center;
}
footer .footer-bottom ul li:last-child span {
    display: none;
}
footer .footer-bottom ul li span {
    margin: 0 5px;
}
footer .footer-bottom ul a {
    font-size: 14px;
}
footer .contact-us-footer a {
    color: #343434;
}
footer .contact-us-footer a:hover {
    color: #c51818;
}

.footer-top-wrap {
    padding: 50px 0;
    background-color: #f9f9f9;
}
.footer-top-wrap .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}
.footer-top-wrap h4 {
    font-family: var(--text_font);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
    min-height: 36px;
}
.footer-top-wrap .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
    margin-top: 0;
}
.footer-top-wrap .line:before {
    content: '';
    display: block;
    height: 2px;
    left: 0;
    width: 60%;
    background: #000;
    position: absolute;
    top: 0;
}
@media(min-width: 1440px) {
    footer .container {
        max-width: 1200px;
    }
}
@media (max-width: 991px) {
    footer .footer-center .item {
        width: 100%;
        margin-bottom: 40px;
    }
    footer .footer-center .line {
        margin: 18px 0 35px;
    }
    footer .footer-bottom {
        padding-bottom: 50px;
    }
    footer .footer-center ul li {
        margin-bottom: 15px;
    }
    .footer-top-wrap .container {
        grid-template-columns: 50% 50%;
    }

}
@media(max-width: 767px) {
    .footer-top-wrap .container {
        grid-template-columns: 100%;
    }
}