.comments {
    padding: 30px 0;
}
.comments .date {
    font-weight: 400;
    font-style: normal;
    color: #a9a9a9;
    font-size: 11px;
}
.comments h2 {
    font-family: var(--text_font);
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    text-align: left;
    color: #212121;
    font-size: 12px;
}
.comments .name {
    font-size: 17px;
    font-weight: 700;
    color: #000;
    margin-bottom: 20px;
    margin-top: 10px;
}
.comments .text {
    font-size: 18px;
    color: #1e1e1e;
}
.comments .text a {
    text-decoration: underline;
    color: #33F;
}
.comments .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.comments .line {
    height: 2px;
    width: 100%;
    background: #ddd;
    margin-bottom: 20px;
    margin-top: 25px;
}

.comments .line:before {
    content: '';
    display: block;
    height: 2px;
    left: 0;
    width: 40%;
    background: #000;
    position: absolute;
    top: 0;
}
.comments .item {
    border-bottom: solid 1px #ddd;
    padding-bottom: 30px;
    margin-bottom: 30px;
    padding-left: 17px;
    position: relative;
}
.comments .item:before {
    position: absolute;
    content: '';
    width: 6px;
    height: 6px;
    flex-shrink: 0;
    background: #111;
    border-radius: 15px;
    left: 0;
    top: 5px;
}