.bed-bugs {
    margin-bottom: 60px
}
.bed-bugs a {
    font-size: 18px;
    color: #F00;
}
.bed-bugs a:hover {
    color: #000;
}
.bed-bugs h4 {
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 35px;
    letter-spacing: 3px;
    font-weight: 400;
    font-style: normal;
    color: #212121;
    font-size: 12px;
    font-family: var(--text_font);
}
.bed-bugs .line {
    height: 2px;
    background: #ddd;
    width: 100%;
    position: relative;
    margin-bottom: 40px;
}
.bed-bugs .line:before {
    content: '';
    display: block;
    height: 2px;
    width: 50%;
    left: 25%;
    background: #000;
    position: absolute;
    top: 0;
}